{%extends 'base.html'%}
{%block content%}
{%for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <b>{{message}}</b>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}
        <h1>Web Scraping Project Form</h1>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method='POST'</br>
                <!--create the CSRF token using the secret keyb previously created-->
                {{form.hidden_tag()}}
                <br>
                {{form.username.label(class="form-label")}} 
                <!--creates the field to be filled by the user-->
                {{form.username(class="form-control")}}
                <br>
                {{form.project_description.label}}
                <!--creates the field to be filled by the user--> 
                {{form.project_description(class="form-control")}}
                <br>
                <!--creates the label stated in the password variable in the flask_test document-->
                {{form.budget.label}} 
                <!--creates the field to be filled by the user--> 
                {{form.budget(class="form-control")}}   
                <br>
                {{form.submit(class="btn btn-secondary")}}
            </form>  
        </div>
{%endblock%}