{%extends 'base.html'%}

{%block content%}
{%for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}

{%if id == current_user.id%}
    <h1>Update Info</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/user/update/{{name_to_update.id}}" method="POST"</br>
                <!--create the CSRF token using the secret keyb previously created-->
                {{form.hidden_tag()}}
                <!--creats the label previosly stated in the stringField attached to the name-->
                {{form.name.label(class="form-label")}}
                <!--creates the field to be filled by the user-->
                {{form.name(class="form-control", value=name_to_update.name)}}
                <br>
                {{form.username.label(class="form-label")}}
                <!--creates the field to be filled by the user-->
                {{form.username(class="form-control", value=name_to_update.username)}}
                <br>
                <!--creates the label stated in the age variable in the flask_test document-->
                {{form.about_author.label}}
                <!--creates the field to be filled by the user-->
                {{form.about_author(class="form-control",value=name_to_update.about_author)}}
                <br>
                <!--creates the label stated in the age variable in the flask_test document-->
                {{form.age.label}}
                <!--creates the field to be filled by the user-->
                {{form.age(class="form-control", value=name_to_update.age)}}
                <br> 
                {{form.email.label}}
                <!--creates the field to be filled by the user-->
                {{form.email(class="form-control", value=name_to_update.email)}}
                <br>
                {{form.passion.label(class="form-label")}}
                <!--creates the field to be filled by the user-->
                {{form.passion(class="form-control", value=name_to_update.passion)}}
                <br>
                <!--creates the label stated in the age variable in the flask_test document-->
                {{form.password.label}}
                <!--creates the field to be filled by the user-->
                {{form.password(class="form-control", value=name_to_update.password)}}
                <br>
                {{form.password2.label}}
                <!--creates the field to be filled by the user-->
                {{form.password2(class="form-control", value=name_to_update.password2)}}
                <br>
                {{form.submit(class="btn btn-secondary")}}
                <a href="{{url_for('delete_user', id=name_to_update.id)}}",type="button" class="btn btn-danger">Delete</a>
        </form>  
    </div>
{%else%}
{%for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Access Denied!!!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
You have to be logged in to access this page
{%endfor%}
{%endif%}
{%endblock%}